body {
    font: 16px Inter, Arial;
    color: #222;
}

.login {
    width: 400px;
    margin: 100px auto;
}

.parsley-errors-list {
    li {
        list-style: none;
        color: #F00;
        margin: 5px 0px 5px -30px;
    }
}

.bg-dark {
    color: #FFF;
}

.navbar {
    .navbar-nav {
        .nav-link {
            color: #FFF !important;
        }
    }
}

label {
    margin: 10px 0 5px 0;
    font-weight: bold;
}